<template>
    <nav>
        <h2>Job Applications Tracker</h2>
        <div>
            <span class="slds-m-right_small slds-truncate">Siddhartha K</span>
            <a href="/login">
                <!-- <lightning-icon icon-name='utility:logout' alternative-text='logout' size='small' title='logout'
                    class="logout-icon"></lightning-icon> -->
                <img src="/public/assets/images/logout.svg" alt="logout" height="24" width="24" />
            </a>
        </div>
    </nav>
</template>